body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 50px;
	background-color: lightgrey;
}
header, footer {
	height: 50px;
	width: 100%;
	background-color: yellow;
	line-height: 50px;
	margin: 30px 0;
}

header > nav {
	display: flex;
	justify-content: space-around;
}
main {
	flex-grow: 1;
}
article {
	height: 200px;
	background-color: gray;
	margin: 5px;
}
aside {
	width: 200px;
}
aside > section {
	height: 100px;
	background: white;
	margin: 5px;
}
#goo-wrapper {
	height: 300px;
}
#goo {
	width: 100%;
	height: 100%;
}
